img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} 

@font-face{
  font-family:'HelveticaLight';
  src: url('../fonts/helvetica_light/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot');
  src: url('../fonts/helvetica_light/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?iefix') format('eot'), 
       url('../fonts/helvetica_light/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff') format('woff'), 
       url('../fonts/helvetica_light/688ab72b-4deb-4e15-a088-89166978d469.ttf') format('truetype'), 
       url('../fonts/helvetica_light/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, h1, p.lead, footer {
	color: #666666;
	font-family: 'HelveticaLight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

br, p, body, h1, h2, footer {
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
}

 footer {
    text-align: center;
}

a:link {
    color: #666666;
    text-decoration: none;


}
a:visited {
        text-decoration: none;
color: #666666;

}

a:hover {
text-decoration: none;
color: #4099FF;

}


